@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

body {
    margin: 0;
    font: normal Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}


